//
// Styles for hep Klaro
//
// Namespace: "l-" = short for local App

// =======================================================================
// Fonts
// =======================================================================


@font-face {
		font-family: 'DCH';
		font-weight: 700;
		font-style: normal;
		src: url('fonts/dchbasisschrift.woff') format('woff');
}


@font-face {
    font-family: 'FF Unit Rounded Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('FF Unit Rounded Pro Regular'), url('fonts/FF Unit Rounded Pro Regular.woff') format('woff');
}


@font-face {
    font-family: 'FF Unit Rounded Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('FF Unit Rounded Pro Light'), url('fonts/FF Unit Rounded Pro Light.woff') format('woff');
}


@font-face {
    font-family: 'FF Unit Rounded Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('FF Unit Rounded Pro Medium'), url('fonts/FF Unit Rounded Pro Medium.woff') format('woff');
}


@font-face {
    font-family: 'FF Unit Rounded Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('FF Unit Rounded Pro Bold'), url('fonts/FF Unit Rounded Pro Bold.woff') format('woff');
}

@font-face {
    font-family: 'FF Unit Rounded Pro Black';
    font-style: normal;
    font-weight: normal;
    src: local('FF Unit Rounded Pro Black'), url('fonts/FF Unit Rounded Pro Black.woff') format('woff');
}


@font-face {
    font-family: 'FF Unit Rounded Pro Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('FF Unit Rounded Pro Ultra'), url('fonts/FF Unit Rounded Pro Ultra.woff') format('woff');
}




// =======================================================================
// Importing
// =======================================================================

// Full CSS reset
@import "reset.css";

// Import main styles
// DONT, since we have a very specialized UI, not depending on uikit etc.
// @import "../../base/web_root/css/styles.less";
@import "../../base/web_root/css/development.less";

// Our SITE own uikit theme (overrides to the via base uikit theme)
// @import "uikit_theme/_import.less";

@import "testdrive.less";

// =======================================================================
// Variables
// =======================================================================


// prefix @l = "local"
// @a-color-background-light: #EAE7E380; // TODO? Transparenz?

// @a-color-black: #575754;

// @a-color-text-light: #878787;
// @a-color-text-line: #87878780;

// @a-color-main-light: #0382A60D;


@l-color-lightgreen: #F6F7E5;
@l-color-green: #B7C18D;



@l-color-blue-d: #40627A;
@l-color-blue: #5883A5;
@l-color-blue-l: #89B3C3;
@l-color-blue-ll: #ADCCD8;
@l-color-blue-lll: #D6E5EB;
@l-color-blue-llll: #EAF2F5;
@l-color-blue-lllll: #FAFCFC;


@l-color-blue-gray: #70899B;




// @a-header-height:             4rem;
@l-header-background: white;
// @a-header-padding:            0;



@l-color-background: #EAE7E3;
@l-color-text: @l-color-blue; //  #575754;
@l-color-main: @l-color-blue;




// Redefine basics for this via sub-website
@via-basic-color: @l-color-text;
@via-basic-background-color: @l-color-background;
// @via-coloredbutton-color: #555;
// @via-coloredbutton-hover-color: darken(@via-coloredbutton-color, 10%);
// @wrongColor: red;
// @correctColor: #cfc;


// Breakpoints
// ========================================================================

// Phone Portrait:   Galaxy (360x640), iPhone 6 (375x667), iPhone 6+ (414x736)
// Phone Landscape:  Galaxy (640x360), iPhone 6 (667x375), iPhone 6+ (736x414)
// Tablet Portrait:  iPad (768x1024), Galaxy Tab (800x1280),
// Tablet Landscape: iPad (1024x768), iPad Pro (1024x1366),
// Desktop:          Galaxy Tab (1280x800), iPad Pro (1366x1024)

@breakpoint-small:                             640px;  // Phone landscape
@breakpoint-medium:                            960px;  // Tablet Landscape
@breakpoint-large:                             1200px; // Desktop
@breakpoint-xlarge:                            1600px; // Large Screens

@breakpoint-xsmall-max:                        (@breakpoint-small - 1);
@breakpoint-small-max:                         (@breakpoint-medium - 1);
@breakpoint-medium-max:                        (@breakpoint-large - 1);
@breakpoint-large-max:                         (@breakpoint-xlarge - 1);



// =======================================================================
// Mixins
// =======================================================================

@import "styles_klaro_mixins.less";


// =======================================================================
// General Styles
// =======================================================================

html {
		//bad		height: 100%;
		//scroll-behavior: smooth;
}

// Our own SVG icon set
// span.svg-icon {
// 		@size: 1.1em;
// 		text-align: center;
// 		font-size: @size;
// 		//height: 1em;
// 		width: @size;
// 		display: inline-block;
// 		svg.svg-icon {
// 				//				width: 1.1em;
// 				// height: 1em;
// 				width: 100%;
// 				height: 100%;
// 				//stroke: currentcolor;
// 				fill: currentcolor;
// 				//				font-size: 1.25em;
// 				// font-size: 1em;
// 		}
// }

body {
		font-family: 'FF Unit Rounded Pro Regular';
		font-size: 15px;
		color: @l-color-text;

//		.noUserSelect();
		.preventStupidTouchStuff();
										 
		div.footer {
				// padding: 40px 50px;
				// background-color: @a-color-black;
				// color: white;				
		}


		// background should always span screen
//?		min-height: 100vh;


		// Styles for the non-logged in public UI
		&.public {


		}
}



a {
		// Dadurch sind Links von Text nicht unterscheidbar nach Farbe. Wir arbeiten aber mit Symbolen.
		color: @l-color-text;
		cursor: pointer;
		
		.active() {
				color: @l-color-blue-d;
				text-decoration: none;
		}

		
		@media (hover: hover) {
				&:hover {
						.active();
				}
		}

		&:active {
				.active();
		}
		
}

h1 {
		font-size: 2rem;
//		font-weight: bold;
}
h2 {
		font-size: 1.5rem;
//		font-weight: bold;
}
h3 {
		font-size: 1.2rem;
//		font-weight: bold;
}

.topBuffer {
		margin-top: 20px;
}

.bottomBuffer {
		margin-bottom: 20px;
}

// Basics for our svg
svg, img.svgImage {
		vertical-align: middle;
		
		&.svg-icon {
				stroke: currentcolor;
				fill: currentcolor;
				width: 2rem; // meaningful default
		}
}

span.pillarDocument {

		div.pillarParagraph {

				+ div.pillarParagraph {
						margin-top: 1em;
				}

				&.border {
						padding: 0.5em;
						margin: 0.5em;
						border: 1px solid black;
				}

				
				.noWrap {
						white-space: nowrap;
				}
				
		}
}


span.betatestArea {
		display: block;
		margin: 1em 0;
		border: 1px dotted black;
		font-size: 66%;

		a {
				color: inherit;
		}
}

.clickAction {
		cursor: pointer;
}

span.klaroLogo {
		img {
				width: 100%;
		}
}


// =======================================================================
// UI components
// =======================================================================

div.VIAMainComponent {
//		min-height: 99vh;
		position: relative;
		box-sizing: border-box;
		
		// .toccamoduleBorderColor("div.t-header nav.t-menubar ul.uk-navbar-nav li.active");
		// .toccamoduleColorProperty("div.t-header nav.t-menubar ul.uk-navbar-nav li.active a svg", 'stroke');
		// .toccamoduleColorProperty("div.t-header nav.t-menubar ul.uk-navbar-nav li.active a svg", 'fill');				
}

div.VIADeviceDetectorComponent {
		background-color: @l-color-main;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.spinner {
				color: black;
				font-size: 3rem;
				// width: 33vw;
				// height: 33vw;
		}
		
		a.spinnerMessage {
//				.uk-text-muted();
				color: #666;
				font-size: 80%;
		}
}

//
// header 
//
// div.klaroHeader {
    
// 		background-color: @l-header-background;
// 		color: white;
// 		// padding: @a-header-padding;
// 		// height: @a-header-height;

// 		a.klaroLogo {
// 				font-size: 1.5rem;
// 				font-weight: bold;
// 				color: white;

// 				svg.klaroLogo {
// 						//stroke: currentcolor;
// 						fill: currentcolor;
// 						width: 2em;
// 				}
// 		}

// 		nav {
// 		//		height: @a-header-height;

// 				// div.uk-navbar-left {
// 				// 		padding-left: 0.5em;
// 				// }
				
// 				&.klaroMenubar {

// 						// div.menubarCenter {
// 						// 		.uk-navbar-center();
// 						// }

// 						display: flex;
// 						justify-content: space-between;

// 						div.menubarLeft {
// 								display: flex;
// 								align-items: center;
// 								padding-left: 0.5em;
// 								padding-right: 0.5rem;
// 						}
// 						div.menubarCenter {
								
// 								// &.activeHome {
// 								// 		border-color: @a-color-main;
// 								// 		a svg {
// 								// 				stroke: @a-color-main;
// 								// 				fill: @a-color-main;
// 								// 		}
// 								// }
// 								li a span.menuLabel {
// 										margin-left: 0.1em;
// 								}

// 						}
// 						div.menubarRight {
								
// 						}
						
// 						// button {
// 						// 		color: white;
// 						// 		vertical-align: middle;
// 						// 		background-color: transparent;
// 						// 		border: none;
// 						// 		cursor: pointer;
// 						// }

// 						a {
// 								color: white;
// 								vertical-align: middle;

// 								+ a {
// 										margin-left: 0.5rem;
// 								}
								
// 								&.mainMenuToggler {
// 								}
// 						}

// 						form.searchForm {
								
// 								input.searchInput {
// 										background-color: white;
// 										color: black;
// 										//width: 3em;

// 										&::placeholder {
// 												color: #999;
// 										}
// 								}
// 						}
// 				}
// 		}
// }


div.inputDialog {
		input[type=text], textarea {
				width: 100%;
				font-size: 120%;
				margin: 1em 0;
		}
}

div.VIAConfirmationComponent {
		button {
				min-width: 5em;
				margin-right: 1em;
		}
}

div.VIAPublicHomeComponent {

		padding: 1em 0;
		font-size: 120%;
		line-height: 150%;

		div.klaroLogo {
				margin: 0 auto;
				display: flex;
				justify-content: center;
		}
		
		div.klaroBanner {
				display: flex;
				justify-content: center;
		}
		
		div.info {
				margin: 1em 0;
				padding: 0 1em;
		}

		div.loginSection {
				margin: 1em 0;
				padding: 0 1em;
		}

		form.codeInput {
				margin: 1em 0;
				
				input[type=text] {
						border: 1px solid black;						
						width: 100%;
						padding: 0.2em;
						margin: 1em 0;
				}
		}

}


// div.VIAKlaLoginComponent {
// 		height: 100%;
// }

// div.VIAKlaStartComponent {
// 		padding: 2em 0;

// 		div.VIAModuleFinderComponent {
// 				margin-bottom: 2em;
// 		}
		
// }



div.VIAKlaModuleExerciser {

		// Header gets units background color
//		.toccamoduleBackgroundColor("div.moduleNavigation");

		margin: 0 @pageSidePad;

		div.titlePanel {
				@circleWidth: 2em;
				@sidePad: @pageSidePad;
				@borderRadius: @sidePad + @circleWidth/2;
				@height: 2 * @borderRadius;

				margin-top: 1em;
				padding: @sidePad;
				height: @height;
				background-color: @l-color-blue-llll;
				border-radius: @borderRadius;

				display: flex;
				align-items: center;
				justify-content: space-between;

				// img.svgImage {
				// 		width: 3em;
				// }

				svg.stationNumber {
						width: @circleWidth;
				}
				
				span.moduleScore {
						@space: 0.2em;
						margin-left: @space;
						// img.svgImage {
						// 		width: @circleWidth*2/3;
						// 		margin: 0 @space;
						// }

						svg.iconProgress {
								width: @circleWidth*2/3;
								margin: 0 @space;

								path.top, path.bottom {
										fill: white;
										stroke: @l-color-blue-l;
//										stroke-miterlimit: 10;
										stroke-width: 1px;
								}

								&.active {
										path.top {
												stroke: @l-color-blue;
												stroke-width: 1.61px;
										}
								}

								&.progress50 {
										path.top {
												stroke: @l-color-blue;
												fill: @l-color-blue;
												stroke-width: 1.61px;
										}
										&.active {
												path.bottom {
														stroke: @l-color-blue;
														stroke-width: 1.61px;
												}
										}
								}

								&.progress100 {
										path.top, path.bottom {
												stroke: @l-color-blue;
												fill: @l-color-blue;
												stroke-width: 1.61px;
										}
								}
								
						}
				}

				span.modeIndicator {
						float: right;
						display: block;
						margin: auto 0;
						img.svgImage {
								width: 2em;
						}
				}
		}

		div.moduleBody {
				margin: 0;
				padding-bottom: 1em;
		}


		div.VIAKlaTaskExerciser {
				padding-left: 0.2em;
				padding-right: 0.2em;
				margin-bottom: 4em;

				div.VIAKlaSpeedReaderExerciser {

						// "Gameboard"
						div.speedReader {
								div.automaticStarter {
										position: absolute;
										top: 0;
										left: 0;
										right: 0;
										bottom: 0;
										z-index: 99;
										background-color: white;
										text-align: center;
										font-size: 200%;
										padding-top: 4em;
								}

								div.mainPlayArea {
										display: flex;
										flex-direction: column;
										height: 100%; //???
										justify-content: space-between;
										align-items: stretch;
//										gap: 0.5em;
										
										div.speedTextArea {
												// height: 50vh;
												// min-height: 30vh;
												flex-basis: 50%;
												display: flex;
												justify-content: center; /* Align horizontal */
												align-items: center;
												overflow: hidden;

												div.speedTextAreaContent {
														display: flex;
														justify-content: center; /* Align horizontal */
														align-items: center;
														overflow: hidden;
														
														div.speedText {
																font-family: DCH;
																color: @l-color-blue;
																font-size: 6rem;
																text-align: center;

																&.long {
																		font-size: 4rem;
																}
														}

														svg.sign.sound, svg.sign.ellipsis {
																width: 6em;
														}
												}


												&.magic-spell {
														div.speedTextAreaContent {
																background-color: @l-color-blue-lllll;
																width: 40vh;
																height: 40vh;
																border-radius: 50%;
																flex-shrink: 0;
														}
												}
										}

										
										div.navigationArea {
												//										padding: 1em;
												//										margin: 1em 0;
												display: flex;
												justify-content: center;
												align-items: flex-start;

												//height: 12vh;
												
												span.mainButton {
														display: inline-block;
														width: 4em;
														//												height: 4em;
														margin: .5em;

														&.active {
																.activeButton();
														}

														img.svgImage {
																width: 100%;
														}

												}
										}

										div.subNavigationArea {
												//										padding: 1em;
												//										margin: 1em 0;
												display: flex;
												justify-content: center;
												align-items: center;

												// height: 12vh;
												
												span.nextButton, span.playPauseButton {
														display: inline-block;
														width: 9em;
														//												height: 3em;
														//												margin: 1em;

														img.svgImage {
																width: 100%;
														}
												}

												

												span.playPauseButton {
														//												position: relative;												
												}

												div.speedChooser {
														@border: 2px solid @l-color-blue;
														
														// position: absolute;
														// left: 80%;
														// top: -1em;
														z-index: 1;
														border: @border;
														background-color: white;

														div.speed {
																padding: 0.1em 1em 0.1em 0;
																white-space: nowrap;
																cursor: pointer;

																span.icon {
																		width: 1.3em;
																		display: inline-block;
																}
																
																& + div.speed {
																		border-top: @border;
																}
														}
												}
												

												span.redoButton, span.doneButton {
														display: inline-block;
														width: 4em;
														margin: 0.1em;

														img.svgImage {
																width: 100%;
														}
												}

												// Play/Pause button switcher
												// span.playPauseButton {
												// 		img.play {
												// 				visibility: hidden;
												// 				div.speedReader.pausing & {
												// 						visibility: visible;
												// 				}
												// 		}
												// 		img.pause {
												// 				visibility: hidden;
												// 				div.speedReader.playing & {
												// 						visibility: visible;
												// 				}
												// 		}
												// }
										}



										.activeButton() {
												//										background-color: yellow;

												.activeDark {
														fill: @l-color-blue-l;
												}
												// .activeNormal {
												// 		fill: @l-color-blue-ll;
												// }
												.activeLight {
														fill: @l-color-blue-llll;
												}
												.activeWhite {
														fill: white;
												}

										}
										
										svg.sign {

												//										stroke-width: 0px;
												//										fill: none;

												stroke-width: 0px;
												fill: @l-color-blue-ll;

												
												.transparent {
														fill: none;
												}
												.blank {
														stroke-width: 0px;
														fill: #fff;
												}
												.white {
														fill: #fff;
												}
												// .filled {
												// 		stroke-width: 0px;
												// 		fill: @l-color-blue-ll;
												// }
												.dark {
														stroke-width: 0px;
														fill: @l-color-blue-l;
												}
												.light {
														stroke-width: 0px;
														fill: @l-color-blue-llll;
												}

												// .stroked {
												// 		stroke: @l-color-blue-l;
												// 		stroke-linecap: round;
												// 		stroke-linejoin: round;
												// 		stroke-width: 2.5px;
												// }

												&.active, &:active {
														.activeButton();
												}
												
												// @media (hover: hover) {
												// 		&:hover {
												// 				.activeButton();
												// 		}
												// }

												&.read, &.speak, &.listen {
														// path.timerArc {
														// 		fill: none;
														// 		stroke-width: 4px;
														// 		stroke: @l-color-blue;
														// }
												}

												&.sound, &.ellipsis {
														fill: currentcolor;
												}


												
										}

										div.progressbar {
												width: 100%;
												height: 1em;
												border-radius: 1em;
												background-color: @l-color-blue-llll;
												// position: fixed;
												// bottom: 1em;
												margin: 1em 0;

												div.filledBar {
														height: 1em;
														border-radius: 1em;
														background-color: @l-color-blue-l;
												}
										}

								}
								// &.read { div.navigationArea span.mainButton.read { .activeButton() }}
								// &.speak { div.navigationArea span.mainButton.speak { .activeButton() }}
								// &.listen { div.navigationArea svg.sign.listen { .activeButton() }}

								// Automatic timer is playing
								&.playing {
										div.subNavigationArea {
												span.playPauseButton {
														.play {
																display: none;
														}
														.pause {
																display: unset;
														}
												}
												div.speedChooser {
														display: none;
												}
												
										}

								}
								// Automatic timer is pausing
								&.pausing {
										div.subNavigationArea {
												span.playPauseButton {
														.play {
																display: unset;
														}
														.pause {
																display: none;
														}
												}
												div.speedChooser {
														display: unset;
												}
										}
								}
								// Is on step listen
								&.listen {
										div.navigationArea {
												div.listenButtons {
														span.mainButton.listen.replay {
																display: none;
														}
												}
										}

										div.subNavigationArea {
												div.redoDoneButtons {
														visibility: hidden;
												}
										}

										
										&.hasPlayedSpeech {
												div.navigationArea {
														div.listenButtons {
																span.mainButton.listen.normalPlay {
																		display: none;
																}
																span.mainButton.listen.replay {
																		display: inline-block;
																}
														}
												}
												div.subNavigationArea {
														div.redoDoneButtons {
																visibility: visible;
														}
												}
										}
								}
						}
				}
		}
}



// Not inside the VIAKlaModuleExerciser, because it could be stand alone (e.g. in the backend testdrive)
// Styles inside the content of tasks
div.exercise {
		
		@dropTargetHoverColor: yellow;
		
		// Wozu?
//		margin-bottom: 50px;

		// General wrapping styles for backend usage
		.spaced {
				letter-spacing: 0.1em;
				line-height: 1.6em;
		}
		.framed {
				padding: 10px;
				margin: 15px 0;
				border: 1px solid #aaa;
		}
		.smaller {
				font-size: 88%;
		}
		.indented {
				margin-left: 10%;
				margin-right: 10%;
		}

		table {
				//						border: 1px solid #999;
				border-collapse: collapse;

				tr {
						border-bottom: 1px solid #999;								
				}

				td, th {
						padding-top: 5px;
						padding-bottom: 5px;
						padding-right: 2px;
				}

				td + td, th + th {
						border-left: 1px solid #999;
						padding-left: 2px;
				}
		}

		
		input[type=text] {
				font-family: inherit;
				font-size: inherit;
				padding: 0 2px;
				margin: -2px 0;
		}

		// input[type=text].clozeTextPlaceholder {
		// 		.clozeTextPlaceholder();

		// 		&:focus {
		// 				outline: 1px solid #ccc;
		// 				background-color: #ffd;
		// 		}

		// 		// Intentionally set as empty by user
		// 		&.markedAsEmpty {
		// 				background-color: black;
		// 		}
		// }

		p {
				margin-top: 3px;
				margin-bottom: 3px;
		}

		hr.divider {
				border-color: #999;
				margin: 2em 0;
		}


		
 
		// div.exerciserMainButtons {
		// 		margin-top: 30px;
		// }


		// div.audioPlayer {
		// 		.clearfix();

		// 		margin: 10px 0px;
		// 		span.assetInfo {
		// 				float: right;
		// 		}
		// }

		
		// div.videoPlayer {
		// 		.clearfix();
				
		// 		div.videoContainer {
		// 				margin-right: 10px;

		// 				video {
		// 						width: 100%;
		// 						height: auto;
		// 						//box-sizing: border-box;
		// 				}
		// 		}


		// 		span.assetInfo {
		// 				float: right;
		// 		}
		// }


		// div.imageDisplayer {
		// 		span.image {
		// 				margin-top: 0.5em;
		// 				margin-bottom: 0.5em;
		// 				display: inline-block;
		// 				text-align: right;
		// 				img {
		// 						display: block;
		// 				}
		// 				span.assetInfo {
		// 				}
						
		// 		}
		// }

		// div.fileDownloader {
		// 		a {
		// 				.icon {
		// 						margin-right: 0.5em;
		// 				}

		// 				img.downloadPreview {
		// 						max-width: 10em;
		// 						border: 1px solid #eee;
		// 				}

		// 				&:hover {
		// 						img.downloadPreview {
		// 								max-width: 10em;
		// 								border-color: @base-link-color;
		// 						}
								
		// 				}
		// 		}
		// 		span.assetInfo {
		// 				margin-left: 0.5em;
		// 		}
				
		// }

		// span.assetInfo {
		// 		cursor: pointer;
		// }

		// span.hintSymbol {
		// 		display: inline-block;
		// 		margin: 0.2em;
		// }






		// div.taskGroup {
				
		// 		div.taskGroupItem {
		// 				margin: 10px 0px;
		// 		}
		// }

		// div.taskBrickGroupToggler {
		// 		padding: 0.5em 3px;
		// 		margin: 0.5em 0;
		// 		cursor: pointer;
		// 		background-color: #eee;
		// 		//						color: white;
		// 		border: none;

		// 		&:hover {
		// 				background: #999;
		// 		}
		// }

		// div.taskBrickGroup {
		// 		// border: 1px solid black;
		// 		padding: 5px;

		// 		&.hidden {
		// 				.hiddenSectionButWithDefinedDimension()
		// 		}

		// }
		

// 		div.dualImageSwitcher {
// 				div.imagesContainer {
// 						display: inline-block;
// 						div.image {
// 								display: inline-block;
// 								text-align: right;
// 								img {
// 										display: block;
// 								}
// 								span.assetInfo {
// 								}
// 								&.hidden {
// 										display: none;
// 								}
// 								// &.image2 {
// 								// 		img {
// 								// 				border: 2px solid yellow;
// 								// 		}
// 								// }
// 						}
// 				}

// 				div.tools {
// //						.uk-margin-top();
// 						.printThis {
// //								.uk-margin-left();
// 								float: right;
// 						}
// 				}
// 		}


		// div.textMemo {
		// 		background-color: #eee;
		// 		padding: 1em;
		// 		textarea.textMemo {
		// 				width: 100%;
		// 				margin-top: 1em;
		// 				padding: 1em;
		// 				border: 1px solid #666;
		// 				background-color: #fefefe;
		// 				box-sizing: border-box;
		// 		}
		// }
		
} // div.exercise



// div.zoomBox {
// 		padding: 0.3em;
// 		margin-top: 0.3em;
// 		//		border: 1px solid black;
// 		div.header {
// 				position: relative;
// 				padding: 0.5em 0;
// //				background-color: #999;
// 				color: #999;
// 				font-size: 85%;
// 				text-align: center;
// 				//border-bottom: 1px dotted black;
				
// 				span.title {
						
// 				}
// 				span.close {
// 						font-size: 2rem;
// 						//				font-weight: bold;
// //						text-align: right;
// 						position: absolute;
// 						right: 0;
// 						top: 2px;
// 						a {
// 								color: black;
// 						}
// 				}
// 		}
// }

div.VIAKlaMyProfileComponent, div.VIAKlaTeacherMyCockpit, div.VIAKlaMyPortfolioComponent {

		padding-top: 1em;

		h1 {
				color: @l-color-main;
		}
		
		h1, h2, h3, h4 {
				text-align: left;
		}
		
}

// div.VIAKlaTeacherMyCockpit {

// 		.invitationCode {
// 				font-family: monospace;
// 				font-size: 120%;
// 				border: 1px solid black;
// 		}
// }

// div.VIAKlaMyPortfolioComponent {

// 		h4.currentUnit {
// 				margin-top: 0;
// 		}
		
// 		div.legend {
// 				text-align: right;
// 				font-size: 80%;
// 		}

// 		a.deleteAction {
// //				margin-top: 0.3em;
// 				margin-right: 1em;
// //				flex-shrink: 0;
// //				color: black;
// //				float: right;
// //				vertical-align: bottom;
// 		}
		
// }




div.lightboxModal {
		div.invitationCode {
				font-size: 300%;
				text-align: center;
				font-family: monospace;
		}
}


div.VIAInformationComponent {
		div.message {
				margin-bottom: 1em;
		}
}

// div.VIAStaticTextDisplayerComponent {
// 		padding: 1em;
// }

// div.VIACaptchaComponent {
// 		pre.captcha {
// 				line-height: 1.1em;
// 		}
// 		input.captcha {
// 				font-size: 200%;
// 				font-family: monospace;
// 				border: 2px solid green;
// 				padding: 0.2em;
// 				margin: 0.2em 0 0.2em 0;
// 				max-width: 100%;
// 				box-sizing: border-box;
// 		}
// }

// div.VIAKlaRegisterComponent {
// 		label {
// 				font-weight: bold;
// 		}
// }

// ===========================================
// Demo
// ===========================================

// @demoColor: #fffd37;

// span.uk-label.demoLabel {
// 		background-color: @demoColor;
// 		color: #000000;
// 		border: 1px solid #ccc;
// 		transform: rotate(-10deg);
// 		font-size: 0.7rem;
// 		font-weight: normal;
// 		padding-left: 0.3em;
// 		padding-right: 0.3em;
// 		position: relative;
// 		left: -0.5em;
// }

// // div.VIADemoUnitComponent {
// // 		span.uk-label.demoLabel {
// // 				margin-left: 0.2em;
// // 		}
// // }

// div.demoRibbon {
// 		@dim: 20em;
		
// 		position: fixed;
// 		width: @dim;
// 		height: @dim;
// 		bottom: -(@dim/1.8);
// 		right: -(@dim/1.9);
// 		padding-top: 1em;
// 		transform-origin: center;
// 		transform: rotate(-45deg);
// 		z-index: 999999; 

// 		div.ribbonText {
// 				width: 100%;
// 				text-align: center;
// 				border-top: 1px solid black;
// 				padding: 0.3em 1em 10em 1em;
// 				background: @demoColor;
// 				color: black;
// 		}
// }

// Cookiebar redefinitions
// #cookie-bar-button {
// 		background-color:  !important;
// }

// ============================================
// Misc
// ============================================

// TODO: Oben einsortieren!

// figure.inlineAssetImage {
// 		display: inline-block;
// 		margin: 0;

// 		figcaption {
// 				line-height: 1em;
// 				span.assetInfo {
// 						font-size: 75%;
// 						float: right;
// 				}
// 		}
// }

// span.inlineAssetAudio {
// 		audio {
// 				display: inline-block;
// 				width: 5em;
// 		}

// 		div.mejs__container {
// 				display: inline-block;
// 				width: 5em;
// 				vertical-align: middle;
// 		}
// }

// .correct {
// 		background-color: @correctColor;
// }

// .wrong {
// }

// span.partiallyCorrectIcon {
// 		color: orange;
// }

// span.correctIcon {
// 		color: #1a1;
// }

// span.wrongIcon {
// 		color: red;
// 		padding-left: 2px;
// 		padding-right: 2px;
// }

// div.webui-popover {
// 		div.webui-popover-content {
// 				word-break: break-word;
// 				max-width: 20em;
// 		}
		
// 		span.markAsEmpty {
// 				cursor: pointer;
// 				border: 2px solid green;

// 				&.active {
// 						background-color: green;
// 				}
// 		}

// 		// &.webui-popover-hintBalloon {
// 		// 		background-color: yellow;
// 		// 		// div.webui-popover-content {
// 		// 		// 		background-color: yellow;
// 		// 		// }				
// 		// }
// }



// // div.VIAKlaExerciserFinishedComponent {
// // 		.solution {

// // 				&.answerWasWrong {
// // 						// background-color: transparent;
// // 				}

// // 		}
// // }


// span.copyPaste, pre.copyPaste {
// 		cursor: pointer;
// }




// // TODO Evt. innerhalb taskEditor
// div.inputEditor {
// 		> div.inputEditor {
// 				border: 1px solid #333;
// 				background-color: #f3f3f3;
// 				padding: 5px;
// 				margin: 10px 0;
// 		}
// }

// span.dictionaryEntry {
// 		// border-bottom: 1px dotted #333;
// 		text-decoration: underline;
// 		text-decoration-color: #333;
// 		text-decoration-style: dotted; 
// }





div.moduleBody {
		clear: both;
		position: relative; // Wichtig, damit eingebettete versteckte absolute-Elemente die Breite korrekt berechnen können
}

.testdriveTools {
		font-size: 80%;
		color: #999;

		a {
				color: #666;
		}
}




@pageSidePad: 1em;


div.VIAKlaPagerComponent {


		div.VIAKlaPageComponent {

				
				display: contents;

				div.klaroPage {
						padding: 0;

						
					//	display: none; // default hidden and parked away
						position: relative; // ?

						// Always Fill the whole screen with the page
						min-height: 100vh;  // Fallback to where svh is not supported
						min-height: 100svh; // smallest view height, for mobile browsers, which dynamically optimise screen height

						scroll-behavior: smooth;
						overflow-x: hidden;
						overscroll-behavior-y: contain;

//						height: 100vh;
//						overflow-y: auto;

						&.noScroll {
								height: 100vh;
								height: 100svh;
//								scroll-behavior: smooth;
								overflow-y: hidden;
								overflow-x: hidden;

								display: flex;
								flex-direction: column;
								justify-content: space-between;

								div.VIAKlaModuleExerciser,
								div.moduleBody,
								div.VIAKlaTaskExerciser,
								div.exercise,
								div.taskGroup,
								div.taskGroupItem,
								div.VIAKlaSpeedReaderExerciser {
										display: contents;
								}

								div.speedReader {
										flex-grow: 2;
								}
								
						}

						// A page is ready, when it has been setup and sits in the background now, ready for display later
						// We explicitely set this class via JavaScript, so that the setup phase has a full displayed page.
						// A hidden page would fail with dimension calculation stuff, since it has dimension 0.
						&.ready {
								display: none;
						}
						
						&.current {

								&.withScroll {
										display: block;
								}
								&.noScroll {
										display: flex;
								}

								&.appear {
										.pageAppear();
								}
								&.appearBack {
										.pageAppearBack();
								}
						}

						// &.transientVisibleForLoading {
						// 		display: block;
						// 		visibility: hidden;
						// }


						.topbar {

								// div.menubarCenter {
								// 		.uk-navbar-center();
								// }

								background-color: white;
								display: flex;
								justify-content: space-between;
								padding: 0.5em @pageSidePad;

								div.topbarLeft {
										display: flex;
										align-items: center;
										font-size: 0.8rem;
										img.svgImage.menu_zurueck {
												width: 1.5em;
												margin-right: 0.5em;
										}
								}
								div.topbarCenter {
										display: flex;
										align-items: center;
										
										// &.activeHome {
										// 		border-color: @a-color-main;
										// 		a svg {
										// 				stroke: @a-color-main;
										// 				fill: @a-color-main;
										// 		}
										// }

								}
								div.topbarRight {
										display: flex;
										align-items: center;
										img.svgImage.menu {
												width: 2em;
										}
								}

						}

						div.offcanvasMenu {
								@iconWidth: 1.5rem;

								position: fixed;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								z-index: 999;
								background-color: @l-color-green;
								padding: 5em 1em 1em 1em;

								// Not small phones
								@media (min-width: @breakpoint-medium) {
								// Only large screens
								//@media (min-width: @breakpoint-large) {
										left: 66vw;
								}

								
								.slide-inout();
								
								// &.in {
								// 		display: block;
								// 		.slide-in-right();
								// }
								// &.out {
								// 		display: block;
								// 		.slide-out-right();
								// }



								span.offcanvasClose {
										position: absolute;
										top: 5px;
										right: 5px;
										span.svg-icon {
												display: inline-block;
												width: 2rem;
										}
								}

								div.pageMenuContainer {
										// position: absolute;
										// bottom: 0;
										// top: 0;
										height: 100%;
										display: flex;
										flex-direction: column;
										justify-content: space-between unsafe;
										align-items: stretch;
										overflow-y: auto;


										div.pageMenuItems {
												flex-grow: 1;
												flex-shrink: 1;

												ul {
														padding-left: 0;

														li {
																font-size: 1.1rem;
																font-weight: bold;
																margin: 1em 0;

																ul.subMenu {
																		padding-left: @iconWidth;
																		li {
																				font-size: 1.1rem;
																				font-weight: normal;
																		}
																}

																a {
																		//												color: white;
																		white-space: nowrap;

																		span.svg-icon {
																				//																text-align: center;
																				display: inline-block;
																				width: @iconWidth;
																				//height: 1rem;
																		}

																		span.menuEntryText {
//																				.uk-text-truncate();
																		}
																}

																&.logout {
																		padding-top: 1em;
																}

																&.menuDivider {
																		padding-top: 1em;
																}
														}
												}

										}
										
										div.pageMenuFooter {
												// position: absolute;
												// bottom: 0;
												padding-top: 2em;
												flex-grow: 0;
												flex-shrink: 0;

												img.hepLogo {
														height: 5vh;
														//										width: @offcanvas-bar-width
												}
										}

								}
								
						}
		
						div.footer {
								position: absolute;
								width: 100%;
								bottom: 0;
								padding: 1em;
								text-align: center;
						}
				}

				div.infoPanel {
						position: fixed;
						display: flow-root;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: @l-color-lightgreen;
						padding: @pageSidePad;
						z-index: 1;
						
						div.infoPanelContent {
								background-color: white;
								padding: 1em;
								border-radius: 0.5em;
						}
				}

				&.VIAKlaNavigatorPage div.klaroPage {

						.preventStupidTouchStuff();
														 
						.topbar {
								div.topbarLeft {
										span.klaroLogo {
												display: inline-block;
												width: 60px;
										}
								}
						}

						svg.navigatorStage {
								width: 100%;
								// Does not work, disables scrolling on iPhone?
								height: auto;
								
								g[id^="Station_"] {

										@highlighted: #e72f72ff;
										
										&.enabled {
												cursor: pointer;

												&.isNewExercise {
														.pulseAnimation();
												}
												
												g[id^="Kreis_gross"] {
														path {
																fill: @highlighted;
														}
												}

												g.taskScore {
														&.done {
																path {
																		fill: @highlighted;
																}
														}
												}

										}
								}


								g#Hexenhaus {
										> g {
												visibility: hidden;
//												opacity: 0.1;
										}

										g#Haus_00 {
//												opacity: 1;
												visibility: visible;
										}
										
										> g.moduleFinished {
//												opacity: 1;
												visibility: visible;												
										}
								}


								
								@keyframes witchflying {
										0% {
												translate: 1px 3px;
										}
										20% {
												translate: 1px -1px;
										}
										50% {
												translate: -3px 2px;
										}
										80% {
												translate: -1px -2px;
										}
										100% {
												translate: 1px 3px;
										}
								}				
								
								g#Hexe_Klara {
										animation-name: witchflying;
										animation-duration: 8s;
										animation-direction: normal;
										animation-iteration-count: infinite;
										animation-timing-function: ease-in-out;
										
								}

						}
				}


				
				&.VIAKlaExercisePage div.klaroPage {

						.preventStupidTouchStuff();

						padding: 0 @pageSidePad;
						
						// Not small phones
						@media (min-width: @breakpoint-medium) {
								padding: 0 10%;
						}
						
						.topbar {
								margin-top: 1em;
						}

								
						div.lottieAnimation {
								// width: 100vw;
								// height: 100vh;

								&.manualToAutomatic {
										width: 100vw;
										height: 80vh;
								}
						}

						
				}

				&.VIAKlaStationPage div.klaroPage {
						background-color: @l-color-lightgreen;

						div.moduleTitle {
								display: flex;
								justify-content: center;
								margin: 1em 0;

								svg.stationNumber {
										width: 3em;
								}
						}

						div.exercisePanels {
								padding-left: @pageSidePad;
								padding-right: @pageSidePad;
								
								div.exercisePanel {
										background-color: white;
										padding: 1em;
										border-radius: 0.5em;
										margin: 1em 0;
										position: relative;
										// display: flex;
										// justify-content: space-between;
										// align-items: flex-start;

										&.disabled {
												div.rowOne, div.rowTwo {
														opacity: 0.5;
												}
										}
										
										div.rowOne {
												display: flex;
												justify-content: space-between;
												align-items: center;
										
												div.exerciseTitle {
														font-size: 2.3rem;
														// display: flex;
														// justify-content: space-between;
												}

												span.progress {
														position: absolute;
														top: 10px;
														right: 10px;
												}

												span.actionSymbol {
														// position: absolute;
														// right: 10px;
														// top: 10px;
														//												top: 45%;

														&.nextTask {
																display: inline-block;
//																margin-top: 0.5em;
																.pulseAnimation();
														}

														img.svgImage {
																margin-left: 0.5em;
														}
												}
										}
										
										div.rowTwo {
												// display: flex;
												// justify-content: space-between;
												// align-items: flex-start;

												a.infoButton {
														display: inline-block;
														background-color: white;
														border: 1px solid @l-color-blue;
														padding: 1px 15px;
												}
										}
								}								
						}
				}

				&.VIAKlaTransientAnimationPage div.klaroPage {

						.preventStupidTouchStuff();

						dotlottie-player.transientAnimation {
								width: 100vw;
								height: 100vh;
						}
				}

				span.pagerAnchor {
						cursor: pointer;
				}
				
		}
		
}


svg.stationNumber {
		.circle {
				fill: #fff;
				stroke: @l-color-blue;
//				stroke-miterlimit: 10;
				stroke-width: 2.5px;
		}
		.text {
				fill: @l-color-blue;
//				font-family: UnitRoundedPro-Medium, ''Unit Rounded Pro'';
				font-size: 16.96px;
//				font-weight: 500;
		}
}

div.developmentTools {
		margin-bottom: 10em;
}

// =======================================================================
// UI Breakpoints (leave at end of file, for CSS precedence)
// =======================================================================

@import "styles_klaro_responsive.less";


// Keep this for Emacs editor!
//
// Local Variables:
// less-css-compile-at-save: t
// End:
