// Responsive UI


// // Browser only
// @media (display-mode: browser) {		
// }

// // PWA only
// @media (display-mode: standalone) {
// }

// Not small phones =======================================================================================
@media (min-width: @breakpoint-small) {

		@pageSidePad: 10%;

		:root {
				--pageSidePad: @pageSidePad;				
		}
		
		body {
				font-size: 18px;

				&.loggedIn {
						div.core {
								min-height: 500px;
						}
				}
		}

		div.VIAKlaPagerComponent {
				div.VIAKlaPageComponent {
						&.VIAKlaStationPage div.klaroPage {
								div.exercisePanels {
										padding-left: var(--pageSidePad);
										padding-right: var(--pageSidePad);
								}
						}
				}
		}

		// span.mainButton {
		// 		&.read, &.speak {
		// 				margin-right: 2rem;
		// 		}
		// }

		div.narrowContainer {
				margin: 0 auto;
				width: 30em;				
		}
				
}

// Only small phones =====================================================================================
@media (max-width: @breakpoint-small-max) {
		div.VIAPublicHomeComponent {

				span.klaroLogo {
						display: inline-block;
						width: 7rem;
				}
		}

		
}

// Landscape
// @media (orientation: landscape) and (max-height: @breakpoint-small-max) {
// 		div.VIAKlaExercisePage {
// 				background-color: red;
// 		}
// }

// Not large screens ==============================================================================================
@media (max-width: @breakpoint-large-max) {
		// div.VIAKlaSpeedReaderExerciser {
		// 		div.speedText {				
		// 				&.long, &.longWord {
		// 						font-size: 3rem;
		// 				}
		// 		}
		// }
}

// Only large screens ============================================================================================
@media (min-width: @breakpoint-large) {

		@backgroundcolor: #EFEBE8;
		@sidePadding: 10vw;
		
		html {
				min-height: 100vh;
		}
		
		// body {
		// }

}


// Keep this for Emacs editor!
// Local Variables:
// less-css-compile-at-save: t
// End:
